* {
	box-sizing: border-box;
	font-family: "Karla", sans-serif;
}

body {
	/* background-color: #f2f6fc; */
	background-color: #d8dee7;
	color: #323232;
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	padding: 0;
	width: 800px;
}

main {
	height: inherit;
}

input {
	border: 1px solid #ccc;
	border-radius: 6px;
	height: 34px;
	padding: 0 10px;
	width: inherit;
}

input:focus {
	border: 1px solid #63bf74;
}

button {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 6px;
	cursor: pointer;
	height: 34px;
	padding: 0 12px;
}

button:active {
	filter: brightness(0.9);
}

.btn-theme {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	text-shadow: 0px 1px 0px #ffee66;
	border: 1px solid #ffaa22;
	color: #333;
	text-shadow: 0px 1px 0px #ffee66;
}

.btn-theme:active {
	background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color: #ffab23;
	position: relative;
	top: 1px;
}

.input-inline {
	align-items: center;
	display: flex;
}

.input-inline>input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0 none;
	outline: none;
	width: 100%;
}

.input-inline>button {
	background-color: #63bf74;
	border: 0 none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	color: #fff;
}

.input-inline>button>img {
	filter: brightness(0) invert(1);
	width: 20px;
}

.center-screen {
	align-items: center;
	display: flex;
	height: inherit;
}

.panel {
	background-color: #fff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
	display: block;
	width: 100%;
}

.panel--header {
	border-bottom: 1px solid #eee;
}

.panel--header,
.panel--body,
.panel--footer {
	padding: 15px;
}

.panel--footer {
	border-top: 1px solid #eee;
	background-color: #f1f1f1;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

.register {
	background-color: #fff;
	box-shadow: 0 6px 12px 4px rgb(0 0 0 / 10%);
	border-radius: 12px;
	margin: 30px auto;
	width: 400px;
}

.register--body {
	scroll-behavior: smooth;
	overflow-y: auto;
	height: calc(100vh - 220px);
}

.chat--item {
	align-items: flex-start;
	display: flex;
	gap: 10px;
	margin-bottom: 15px;
}

.chat--item.bot {
	justify-content: flex-start;
}

.chat--item.me {
	justify-content: flex-end;
}

.chat--item:last-child {
	scroll-margin-bottom: 20px;
	margin-bottom: 0;
}

.chat--item.bot>img {
	width: 70px;
}

.chat--item.me>img {
	width: 35px;
}

.chat--item.bot .chat--box {
	border: 1px solid #ccc;
	border-radius: 12px;
	padding: 15px;
}

.chat--item.me .chat--box {
	background-color: #4a63ff;
	border-radius: 12px;
	border: 0 none;
	color: #fff;
	padding: 15px;
}

.chat--box>p {
	margin: 0 0 5px 0;
}

.chat--box>p:last-child {
	margin: 0;
}

.return-container {
	margin: 0 auto;
	width: 400px;
}

.return-container small {
	display: block;
	color: #4a63ff;
	font-size: 11px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.return-container p {
	margin: 0 0 10px 0;
}

.flex {
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 767px) {
	.container {
		width: 100%;
	}
}

@media screen and (max-width: 414px) {

	.register,
	.return-container {
		width: 90%;
	}

	.register {
		margin: 10px auto;
	}
}